<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.gary.log-rotate</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/adam.preda/Gary2.0/gary2.0/scripts/rotate-gary-logs.sh</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
		<key>TZ</key>
		<string>America/New_York</string>
	</dict>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>4</integer>
		<key>Minute</key>
		<integer>15</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>/Users/adam.preda/Library/Logs/Gary2.0/log-rotate.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/adam.preda/Library/Logs/Gary2.0/log-rotate.log</string>
	<key>RunAtLoad</key>
	<false/>
</dict>
</plist>
